@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root{
  --vermelho: #E50914;
  --preta: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--preta);
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}


header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.5rem;
}

header .logo{
  color: var(--vermelho);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

header nav a{
  text-decoration: none;
  color: #AAA;
  margin-right: 10;
}
 header nav a:hover{
   color: #fff;
 }

 /*Principal Movie*/
 .principal-movie{
  font-size: 1.5rem;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/finalSpace-fundo.jpg');

  height: 28rem;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.principal-movie .description{
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.principal-movie .title{
  margin-top: 2.5rem;
  font-size: 2.5rem;
  font-family: 'Oxygen',sans-serif ;
}

.button{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  margin-right: 1rem;
  
  cursor: pointer;
  transition: .3s ease all;
}

.button:hover{
  background-color: #fff;
  color: #000;
}

.svg-inline--fa{
  margin-right: .5rem;
}

.container{
  margin-left: 2rem;
}

.principal-movie .container{
  width: 70%;
}

.box-movie{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

.movie-carousel{
  margin-top: .5rem;
}